LEDGER_PG_URL=postgres://ledger:ledger@127.0.0.1:5432/ledger
LEDGER_TEST_PG_URL=postgres://ledger:ledger@127.0.0.1:5432/ledger_test
LEDGER_LAKE_PATH=./data/lake
LEDGER_API_HOST=0.0.0.0
LEDGER_API_PORT=5757
LEDGER_WEB_HOST=0.0.0.0
LEDGER_WEB_PORT=5759
LEDGER_INGEST_TOKEN=dev-ingest
LEDGER_OPERATOR_TOKEN=dev-operator
VITE_LEDGER_OPERATOR_TOKEN=dev-operator
